{{#link-to "map"}}BACK{{/link-to}}
<h1>THIS IS THE PAGE FOR A LOGGED ADVENTURE!</h1>
<img src="/assets/images/giesel.png">
<br><br>
{{#if isEditing}}
    <button {{action 'toggleEdit'}}>DONE</button>
{{else}}
    <button {{action 'toggleEdit'}}>EDIT</button>
{{/if}}

{{#if isEditing}}
    <br>
    STATS
    <br>
    First visit - {{input value=firstVisit}}
    <br>
    Time spent - {{input value=hoursSpent}}
    <br>
    Times visited - {{input value=timesVisited}}
    <br>
    # of Others visited - {{input value=othersVisited}}
{{else}}
    <br>
    STATS
    <br>
    First visit - {{firstVisit}}
    <br>
    Time spent - {{hoursSpent}}
    <br>
    Times visited - {{timesVisited}}
    <br>
    # of Others visited - {{othersVisited}}
{{/if}}

<br>
<br>
<br>
Reviews:
<br>
I go here whenever I want to study - 2nd east is nice.
{{outlet}}